<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!--Links-->
    <%- include('partials/links') %>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="container">
        <!--Heading-->
        <%- include('partials/heading') %>
        <div class="content">
            <div class="title">
                <h1>Node<span class="red">JS</span>-My<span class="red">SQL</span> Project</h1>
            </div>
            <div class="links">
                <ul class="list-links">
                    <li>
                        <a href="https://github.com/Nasadmi" target="_blank">My GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCz1RzB1sdNxIB_wmF5cN67w" target="_blank">My YouTube</a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@diego_samuel_2008?is_from_webapp=1&sender_device=pc" target="_blank">My TikTok</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>