<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!--Links-->
    <%- include('partials/links') %>
    <link rel="stylesheet" href="/css/add-contact.css">
</head>
<body>
    <div class="container">
        <!--Heading-->
        <%- include('partials/heading') %>
        <div class="content">
            <div class="card">
                <div class="minicard">
                    <h2>Name</h2>
                    <input type="text" id="name" class="insert" spellcheck="false" autocomplete="off" required>
                </div>
                <div class="minicard">
                    <h2>Age</h2>
                    <input type="text" id="age" class="insert" spellcheck="false" autocomplete="off" required>
                </div>
                <div class="minicard">
                    <h2>Email</h2>
                    <input type="text" id="email" class="insert" spellcheck="false" autocomplete="off" required>
                </div>
                <div class="minicard">
                    <h2>Number</h2>
                    <input type="text" id="number" class="insert" spellcheck="false" autocomplete="off" required>
                </div>
            </div>
            <div class="content-btn">
                <button class="btn">
                    Add Contact
                </button>
            </div>
        </div>
    </div>
    <script src="/js/backend/send.js"></script>
</body>
</html>