<div class="heading">
    <header class="title">
        <h1>Contact<span class="red">JS</span></h1>
    </header>
    <div class="navigation">
        <ul class="nav-menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/add-contact">New Contact</a>
            </li>
            <li>
                <a href="/list-contact">Your Contacts</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
</div>
<ul class="nav-menu-mobile">
    <li>
        <button class="nav-btn">
            <i class="fas fa-bars"></i>
        </button>
    </li>
</ul>
<script src="/js/frontend/mobile.js"></script>